@model VeioACalhar.Models.ClienteFisico

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Novo Cliente</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Cliente/Create" method="POST">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input name="Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Pix</label>
                <input name="PIX" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Observacoes</label>
                <textarea name="Observacoes" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">CPF</label>
                <input name="Cpf" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Rg</label>
                <input name="RG" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary">Back to List</a>
</div>