@{
    ViewData["Title"] = "404";
}

<div class="">
    <div class="alert alert-danger h-4" role="alert">
        <h1>
            Erro 404
        </h1>

        <p>
            Não foi possível encontrar o recurso solicitado.
        </p>
    </div>

    <a href="/" class="btn btn-primary">Voltar ao Inicio</a>
</div>