@model Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<div class="d-flex flex-column">
    <h1>@ViewData["Title"]</h1>

    <hr />

    <form asp-action="Edit" method="post">
        <div class="d-flex flex-column">
            <div class="col-md-5">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Rg" class="control-label"></label>
                    <input asp-for="Rg" class="form-control" />
                    <span asp-validation-for="Rg" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pix" class="control-label"></label>
                    <input asp-for="Pix" class="form-control" />
                    <span asp-validation-for="Pix" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Observacoes" class="control-label"></label>
                    <textarea asp-for="Observacoes" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Observacoes" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex mt-3">
                <a asp-action="Index" class="btn btn-outline-secondary" style="width: 100px">Cancelar</a>

                <input type="submit" class="btn btn-primary mx-2" style="width: 100px" value="Editar" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }