@{
    ViewData["Title"] = "Entrar";
}

<style>
    .largura {
        width: 50%;
    }
</style>

<div class="container-fluid">
    <div class="justify-content-center vertical-center">
        <div class="flex-column largura">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center h3 mb-3 fw-normal">
                        @ViewData["Title"]
                    </h1>
                    <form method="POST" action="/Login/SignIn">
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="floatingInput" placeholder="username">
                            <label for="floatingInput">Usuário</label>
                        </div>

                        <div class="form-floating mb-1">
                            <input type="password" class="form-control" name="password" id="password" placeholder="password">
                            <label for="password">Senha</label>
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="lembre-se de mim"> Lembre-se de mim
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>