@using VeioACalhar.Services

@inject IUserService userService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veio a Calhar - @ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        .header {
            background-color: #f1f1f1;
            font-size: 20px;
        }

        .menu li a {
            border-radius: 5px;
            color: black;
        }

            .menu li a:hover {
                background-color: #0d6efd;
                color: #ffffff;
            }
    </style>

</head>
<body>
    <div class="d-flex flex-column" style="min-height: 100vh">
        <header class="header">
            <div class="container d-flex justify-content-between py-3">
                <a href="/" class="text-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                </a>

                <ul class="nav menu">
                    <li><a class="nav-link link" href="/clientes">Clientes</a></li>
                    <li><a class="nav-link link" href="/fornecedores">Fornecedores</a></li>
                    <li><a class="nav-link link" href="/produtos">Produtos</a></li>
                    <li class="dropdown">
                        <a class="nav-link link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mais
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item nav-link link" href="#">Funcionários</a></li>
                            <li><a class="dropdown-item nav-link link" href="#">Compras</a></li>
                            <li><a class="dropdown-item nav-link link" href="#">Vendas</a></li>
                        </ul>
                    </li>
                </ul>

                @if (userService.CurrentUser.Id == 0)
                {
                    <div>
                        <a type="button" class="btn btn-outline-primary" href="\usuario\signin">Sign in</a>
                        <a type="button" class="btn btn-primary" href="\usuario\signup">Sign up</a>
                    </div>
                }
                else
                {
                    <div>
                        <a type="button" class="btn btn-outline-primary" href="\usuario\signout">Sign out</a>
                    </div>
                }
            </div>
        </header>

        <div class="container my-3" style="flex: 1 1 auto; display:grid">
            @RenderBody()
        </div>

        <footer class="">
            <p class="text-center text-muted justify-content-center">©@DateTime.Now.Year Zero Três Calhas e Rufos</p>
        </footer>
    </div>
</body>
</html>
